*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    margin: 4rem;
    padding: 1rem;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: solid;
    text-align: center;
}